/*BACKGROUND STYLE*/

.breadcrumb_background {
    background-image: url(https://bizweb.dktcdn.net/100/364/248/themes/736344/assets/bg_breadcrumb.jpg?1685433580966);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
    padding: 60px 0 80px 0;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}
*, :after , :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, input, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block
}


/*TITLE FULL*/

.title_full .title_page {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    font-family: "Product Sans";
    color: #fff;
    margin: 0;
}
p {
    margin: 0 0 15px 0;
}
p {
    margin: 0 0 10px;
}
*, :after, :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.a-center {
    text-align: center !important;
}
.title-full {
    width: 100%;
    float: left;
    text-align:left; 
}





.row {
    margin-right: -15px;
    margin-left: -15px;
}
*, :after, :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, input, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.breadcrumb {
    font-family: "Product Sans";
    margin: 0;
    font-size: 14px;
    padding: 0px;
    border-radius: 0;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
    width: 100%;
    text-align: center;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
ul {
    list-style-type: none;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.row ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.a-center {
    text-align: center !important;
}

/*.home {
    font-size: 15px;
    color: #252525;
    overflow-x: hidden;
}*/
