@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}





<!--ABOUT START-->

<section class="page margin-bottom-25 snipcss-7cbGx">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 snipcss0-0-0-1">
                <div class="page-title category-title snipcss0-1-1-2">
                    <h1 class="title-head snipcss0-2-2-3">
                        <a href="#" class="snipcss0-3-3-4">
                            Giới thiệu
                        </a>
                    </h1>
                </div>
                <div class="content-page rte snipcss0-1-1-5">
                    <h3 class="snipcss0-2-5-6">
                        gác xép, n.
                    </h3>
                    <p class="snipcss0-2-5-7">
                        an attic
                    </p>
                    <p class="snipcss0-2-5-8">
                        an online English bookstore based in Hanoi, est. 2014
                    </p>
                    <p class="snipcss0-2-5-9">
                        Tiệm sách ngoại văn này là ý tưởng của hội bạn gái 3 đứa chúng mình từ những năm đầu Đại Học. Cái tên Gác Xép khởi nguồn từ căn xép nhỏ trên phố Lò Đúc nhà mình nơi những cuốn sách đầu tiên của tiệm được cất giữ. Trải qua gần 6 năm, Xép đã có một chỗ đứng nhất định trong lòng các bạn yêu sách, là địa chỉ uy tín được các bạn nhớ đến khi có nhu cầu mua sách ngoại văn. Để đáp lại sự yêu quý và ủng hộ của các bạn, bọn mình luôn cố gắng đa dạng và làm mới kho sách mỗi ngày.&nbsp;
                    </p>
                    <p class="snipcss0-2-5-10">
                        Hiện tại Xép có 2 dịch vụ chính:
                        <br class="snipcss0-3-10-11">
                        1. Sách có sẵn: Bọn mình bán cả sách mới và cũ, giao hàng toàn quốc, free ship với đơn trên 500,000đ. Các bạn có thể đặt sách qua website hoặc fanpage. Ngoài ra, nếu có nhu cầu xem sách trực tiếp hoặc lấy sách từ kho Đặng Thai Mai, vui lòng hẹn trước.&nbsp;
                        <br class="snipcss0-3-10-12">
                        2. Order sách theo yêu cầu: Xép nhận đặt sách, CD, artbook và photobook &nbsp;(cả used và new, các loại binding khác nhau và edition hiếm, ngôn ngữ Anh - Nhật - Hàn - Pháp - Đức). Các bạn vui lòng inbox để được báo giá. Sách về sau 3-4 tuần và cần đặt cọc 50% giá trị hàng.&nbsp;
                    </p>
                    <p class="snipcss0-2-5-13">
                        Đọc thêm
                        <strong class="snipcss0-3-13-14">
                            <a href="https://www.facebook.com/pg/xepbookstore/reviews/" class="snipcss0-4-14-15">
                                review về Gác Xép
                            </a>
                        </strong>
                    </p>
                    <p class="snipcss0-2-5-16">
                        Đọc thêm về
                        <strong class="snipcss0-3-16-17">
                            <a href="https://gacxepbookstore.vn/phan-loai-tinh-trang-sach-cu-da-qua-su-dung" class="snipcss0-4-17-18">
                                cách phân loại tình trạng sách
                            </a>
                        </strong>
                    </p>
                    <p class="snipcss0-2-5-19">
                        Đọc thêm về
                        <b class="snipcss0-3-19-20">
                            <a href="https://gacxepbookstore.vn/bia-cung-bia-mem-va-mass-market-paperback-la-gi" class="snipcss0-4-20-21">
                                binding/format của sách: bìa cứng, bìa mềm, khổ nhỏ
                            </a>
                        </b>
                    </p>
                    <p class="snipcss0-2-5-22">
                        Follow instagram&nbsp;để thỉnh thoảng nghe mấy điều nhảm nhí:
                        <strong class="snipcss0-3-22-23">
                            <a href="http://instagram.com/gacxeptiem" class="snipcss0-4-23-24">
                                gacxeptiem
                            </a>
                        </strong>
                    </p>
                    <p class="snipcss0-2-5-25 style-W2VDb" id="style-W2VDb">
                        &nbsp;
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

