
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link rel="stylesheet" " href="~/Content/assets/css/faqstyle.css">






<!--FAQ START-->




<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="page-title category-title">
                <h1 class="title-head"><a href="#">FAQ</a></h1>
            </div>
            <div class="content-page rte">
                <p><span style="font-size:16px;"><span style="color:#16a085;"><strong>1. How do I find a book?</strong></span></span></p>
                <p>You'll find results easily by typing a title, an author, an ISBN, a keyword or a&nbsp;tag that is relevant to what you are looking for&nbsp;(e.g.&nbsp;Travel, Japanese Literature, LGBT....) into the search bar at the top of our page.&nbsp;You can also browse the categories defined by Genres and Sub-genres, or narrow down results by using the filters (Price range, Format...).</p>
                <p>Happy browsing!</p>
                <p><span style="font-size:16px;"><span style="color:#16a085;"><strong>2. How can I order books that are not available?</strong></span></span></p>
                <ul>
                    <li>If the books you need are not readily available, please send us a request&nbsp;on our Facebook&nbsp;page.</li>
                    <li>Send us the title and condition you are looking for and we will provide a quotation accordingly, which is valid for 2 days since the query.</li>
                    <li>You will be asked to make&nbsp;a deposit of 50% of the quotation value.</li>
                    <li>Once the books arrive, we will inform you and send to your shipping address.</li>
                </ul>
                <p><span style="color:#16a085;"><strong>3. Does Gac Xep Bookstore have a storefront?</strong></span></p>
                <p>Yes! Visit us at 302, 23C Tong Dan street, Hoan Kiem, Hanoi. Contact our Facebook&nbsp; for more information&nbsp;on opening hours.&nbsp;</p>
                <p><span style="font-size:16px;"><span style="color:#16a085;"><strong>4. How do you define the used book's condition?&nbsp;</strong></span></span></p>
                <p>We determine our used book's condition based on the following criteria:</p>
                <p>*&nbsp;<strong>New:&nbsp;</strong>Just like it sounds. A brand-new, unused, unread copy in perfect condition.</p>
                <p>*&nbsp;<strong>Like New:&nbsp;</strong>An apparently unread copy in perfect condition. Dust cover is intact; pages are clean and are not marred by notes or folds of any kind.</p>
                <p>&nbsp;*&nbsp;<strong>Very Good:&nbsp;</strong>A copy that has been read, but remains in excellent condition. Pages are intact and are not marred by notes or highlighting, but may contain a neat previous owner name. The spine remains undamaged.</p>
                <p>&nbsp;*&nbsp;<strong>Good:&nbsp;</strong>A copy that has been read, but remains in clean condition. All pages are intact, and the cover is intact. The spine may show signs of wear. Pages can include limited notes and highlighting, and the copy can include "From the library of" labels or previous owner inscriptions.</p>
                <p>&nbsp;*&nbsp;<strong>Acceptable:&nbsp;</strong>A readable copy. All pages are intact, and the cover is intact (the dust cover may be missing). Pages can include considerable notes--in pen or highlighter--but the notes cannot obscure the text.</p>
                <p><span style="font-size:16px;"><span style="color:#16a085;"><strong>5. How do I place an order?</strong></span></span></p>
                <p>Currently, we accept orders on Facebook and Website. However, please be noted that only orders from Website are eligible for Reward Point&nbsp;Program.&nbsp;</p>
                <p><span style="font-size:16px;"><span style="color:#16a085;"><strong>6. What are the&nbsp;shipping rates/ delivery times?</strong></span></span></p>
                <p>The shipping rate to your specific address could be found on the payment page once you enter the correct information.&nbsp;In general, transit time will take 1-2 days for Hanoi, and 3-5 days for other cities.</p>
                <p>In case the transit time takes longer than usual, please inform us on our Facebook page so we can assist you in tracking the order.&nbsp;&nbsp;</p>
                <p><span style="font-size:16px;"><span style="color:#16a085;"><strong>7. What payment methods do you offer?</strong></span></span></p>
                <p>We accept&nbsp;COD (Cash on Delivery), Bank transfer, VNPay and&nbsp;Momo. Please carefully read and follow the instruction on the payment page when you make the purchase. We also accept cash and credit card&nbsp;payments when you purchase at our location.&nbsp;</p>
                <p><span style="font-size:16px;"><span style="color:#16a085;"><strong>8. How can I save books that I'm interested in?</strong></span></span></p>
                <p>The Wish List is designed to allow you to save items that you are interested in purchasing at a later time.&nbsp;When you buy an item on your Wish List, we’ll automatically remove it for you. Once you've found an item you would be interested in,&nbsp;simply open the product page and click on the heart symbol located under the price to add it to your Wish List.&nbsp;</p>
                <p><span style="font-size:16px;"><span style="color:#16a085;"><strong>9. How does Reward Point Program works?</strong></span></span></p>
                <p>Only orders from the Website are eligible to earn Rewards Points. For every 10,000VND spent, you will earn 1 Rewards point. Your accumulated Rewards Points could be redeemed for Free Delivery, Discount Coupon, Gifts, etc.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>

